<div id="gridContainer">
  <div>
    {{ bombsLeft }}
    <span v-if="$store.state.activeGame.activeGame.won === true">Win !</span>
    <span @click="resetGame()" v-if="$store.state.activeGame.activeGame.won === false">Try again</span>
  </div>
  <div class="grid-content" :style="`width: ${20 * $store.state.activeGame.activeGame.grid.width}px`">
    <div v-for="gridBox in $store.state.activeGame.activeGame.grid.boxes" v-bind:key="gridBox.index" class="box" @click="reveal(gridBox.index)" @contextmenu.prevent="toggleFlag(gridBox.index)">
      <div v-if="gridBox.isRevealed && gridBox.hasBomb === true && gridBox.isFlagged === false" class="bomb">
        T
      </div>
      <div v-if="gridBox.isFlagged === true" class="flagged">
        🇫🇷
      </div>
      <div v-if="gridBox.isRevealed && gridBox.hasBomb === false && gridBox.isFlagged === false" class="no-bomb">
        {{ nearBombs(gridBox) }}
      </div>
    </div>
  </div>
</div>