// Colors
$near-black: #353535;
$near-white: #f6f6f6;
$light-grey: #ccc;

$dark-blue: #1e353f;

$green: #028e8a;
$light-green: #98d8d7;

$red: #f74b55;

// Globals
$nav-height: 80px;
$site-container-width: 1440px;

$spacing-basis: 8px;

$smarphone-width: 767px;
$tablet-width: 768px;
$desktop-width: 992px;

$minimumFontSize: 16;
$default-text-color: $dark-blue;

$default-border-radius: 10px;

$desktop-nav-height: 56px;
