// Colors
$near-black: #353535;
$near-white: #f6f6f6;
$light-grey: #ccc;

$dark-blue: #1E353F;

$green: #028E8A;
$light-green: #98D8D7;

$red: #F74B55;

// Globals
$nav-height: 80px;
$site-container-width: 1440px;

$spacing-basis: 8px;

$smarphone-width: 767px;
$tablet-width: 768px;
$desktop-width: 992px;

$minimumFontSize: 16;
$default-text-color: $dark-blue;

$default-border-radius: 10px;

$desktop-nav-height: 56px;