<div id="GameContainer">
  <Navigation />
  <div id="gameContent" class="nav-avoider container">
    <div v-if="showNicknameSetter === false">
      <Grid v-if="game && game.grid" />
      <div v-if="!game">Game not found</div>
      <Players v-if="game.online === true" />
    </div>
    <div v-if="showNicknameSetter === true">
      <label for="nickname">Nickname</label>
      <input type="text" id="nickname" v-model="nickname" />
      <button @click="setNickame">Access game</button>
    </div>
  </div>
</div>
