<div id="newGameContainer">
  <router-link to="/">Go back home</router-link>
  <h1>New Game</h1>
  <div>
    <div>
      <label for="width">Grid width</label>
      <input type="text" id="width" v-model="width" />
    </div>
    <div>
      <label for="height">Grid height</label>
      <input type="text" id="height" v-model="height" />
    </div>
    <div>
      <label for="bombs-number">Bombs number</label>
      <input type="text" id="bombs-number" v-model="bombsNumber" />
    </div>
    <div>
      <div>
        <input type="radio" id="solo" name="online" v-model="online" :value="false" />
        <label for="solo">solo</label>
      </div>
      <div>
        <input type="radio" id="online" name="online" v-model="online" :value="true" />
        <label for="online">online</label>
      </div>
    </div>
    <div v-if="online === true">
      <label for="nickname">Nickname</label>
      <input type="text" id="nickname" v-model="nickname" />
    </div>
    <button @click="createGame">Create Game</button>
  </div>
</div>
